body {
  height: 100vh;
}

.more-suggestions {
  margin-top: 50px;
  border-top: 3px solid pink;
  color: tomato;
  text-align: center;
  opacity: 0.7;
}

.more-suggestions__title {
  padding: 25px 20px;
}
